<section class="about">
  <div class="about__conteiner">
    <div class="about__title-conteiner">
      <span class="about__title-span">tradition and love</span>
      <h2 id="about" class="about__title title">how it’s made?</h2>
    </div>
    <picture>
      <source
        srcset="
          ./images/homepic4/homepic4-1x501.png 1x,
          ./images/homepic4/homepic4-2x501.png 2x
        "
        media="(min-width: 1200px)"
        type="image/png"
      />
      <source
        srcset="
          ./images/homepic4/homepic4-1x336.png 1x,
          ./images/homepic4/homepic4-2x336.png 2x
        "
        media="(min-width: 768px)"
        type="image/png"
      />
      <source
        srcset="
          ./images/homepic4/homepic4-1x280.png 1x,
          ./images/homepic4/homepic4-2x280.png 2x
        "
        media="(max-width: 767px)"
        type="image/png"
      />
      <img
        class="about__image"
        src="./images/home-pic.png"
        alt="cow and milk"
      />
    </picture>
    <div class="about__conteiner-text">
      <span class="about__text-span">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
        cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
        justo fringilla.
      </span>

      <p class="about__text">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
        Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
        suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
        tincidunt. <br />
        <br />

        Aliquam erat volutpat. Aenean accumsan.
      </p>

      <button class="about__button button" type="button">
        Read more
        <img
          class="about__button-image"
          src="./images/Vector1.png"
          width="4"
          height="8"
          alt=""
        />
      </button>
    </div>
    <div class="about-background"></div>
  </div>
</section>
