<section class="contacts">
  <div class="container">
    <h2 id="contacts" class="section__title visually-hidden">Contacts</h2>

    <div class="contacts__list">
      <div class="contacts__item">
        <span class="contacts__title">CAFE</span>

        <div class="contacts__box">
          <span class="contacts__city">Chicago</span>
          <p class="contacts__street">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>

        <div class="contacts__box">
          <span class="contacts__days">Monday - Friday</span>
          <span class="contacts__hours">06:00 AM - 10:00 PM</span>
        </div>

        <div class="contacts__info">
          <a class="contacts__info__link" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts__info__link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </div>

      <div class="contacts__item">
        <span class="contacts__title--green">FOODTRUCK</span>

        <div class="contacts__box">
          <span class="contacts__city">Los Angeles</span>
          <p class="contacts__street">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>

        <div class="contacts__box">
          <span class="contacts__days">Monday - Friday</span>
          <span class="contacts__hours">06:00 AM - 10:00 PM</span>
        </div>

        <div class="contacts__info">
          <a class="contacts__info__link" href="">+61(0) 383 766 284</a>
          <a class="contacts__info__link" href="">noreply@envato.com</a>
        </div>
      </div>

      <div class="contacts__item">
        <span class="contacts__title">CAFE</span>

        <div class="contacts__box">
          <span class="contacts__city">New York</span>
          <p class="contacts__street">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>

        <div class="contacts__box">
          <span class="contacts__days">Monday - Friday</span>
          <span class="contacts__hours">06:00 AM - 10:00 PM</span>
        </div>

        <div class="contacts__info">
          <a class="contacts__info__link" href="">+61(0) 383 766 284</a>
          <a class="contacts__info__link" href="">noreply@envato.com</a>
        </div>
      </div>
    </div>

    <div class="contacts__buttons">
      <button
        data-modal-open
        type="button"
        class="contacts__button--red contacts__button"
      >
        Our Locations
        <svg
          class="contacts__button__icon"
          width="8"
          height="10"
          viewBox="0 0 8 10"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.61646 1L6.04413 5L1.61646 9"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <button
        data-modal-open_fr
        type="button"
        class="contacts__button--white contacts__button"
      >
        Franchise
        <svg
          class="contacts__button__icon"
          width="7"
          height="10"
          viewBox="0 0 7 10"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.57544 1L5.70793 5L1.57544 9"
            stroke="#D41443"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
  </div>
  <!-- modal   -->
  <div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <button data-modal-close type="button" class="button-close">
        <svg
          width="11"
          height="11"
          viewBox="0 0 11 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M11 1.10786L9.89214 0L5.5 4.39214L1.10786 0L0 1.10786L4.39214 5.5L0 9.89214L1.10786 11L5.5 6.60786L9.89214 11L11 9.89214L6.60786 5.5L11 1.10786Z"
            fill="black"
          />
        </svg>
      </button>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5241.780464048507!2d24.7372558866319!3d48.936532511278195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4730c1b56af6f8e9%3A0x9c167fe82f27e615!2sGood%20Brewery!5e0!3m2!1sru!2sua!4v1660306187137!5m2!1sru!2sua"
        width="400"
        height="300"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
