<section class="reviews">
  <div class="container reviews__container">
    <h2 class="reviews__title visually-hidden">reviews</h2>
    <div class="reviews-slider">
      <div class="reviews-slider__item">
        <img
          class="reviews-slider__photo"
          srcset="
            /src/images/customer-reviews/testimonials-1_lg.png    1x,
            /src/images/customer-reviews/testimonials-1_lg@2x.png 2x
          "
          src="/src/images/customer-reviews/testimonials-1_lg.png"
          alt=""
        />

        <div class="reviews-slider__text">
          <p class="reviews-slider__message">
            <span class="reviews-slider__comment"
              >Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.</span
            >
          </p>
        </div>
        <span class="reviews-slider__markers"></span>
        <p class="reviews-slider__author-name">Emily, Los Angeles</p>
      </div>

      <div class="reviews-slider__item">
        <img
          class="reviews-slider__photo"
          srcset="
            /src/images/customer-reviews/testimonials-2_lg.png    1x,
            /src/images/customer-reviews/testimonials-2_lg@2x.png 2x
          "
          src="/src/images/customer-reviews/testimonials-2_lg.png"
          alt=""
        />

        <div class="reviews-slider__text">
          <p class="reviews-slider__message">
            <span class="reviews-slider__comment"
              >Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.</span
            >
          </p>
        </div>
        <span class="reviews-slider__markers"></span>
        <p class="reviews-slider__author-name">Jane, Chicago</p>
      </div>

      <div class="reviews-slider__item">
        <img
          class="reviews-slider__photo"
          srcset="
            /src/images/customer-reviews/testimonials-3_lg.png    1x,
            /src/images/customer-reviews/testimonials-3_lg@2x.png 2x
          "
          src="/src/images/customer-reviews/testimonials-3_lg.png"
          alt=""
        />

        <div class="reviews-slider__text">
          <p class="reviews-slider__message">
            <span class="reviews-slider__comment"
              >Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.</span
            >
          </p>
        </div>
        <span class="reviews-slider__markers"></span>
        <p class="reviews-slider__author-name">Laura, New York</p>
      </div>
    </div>
  </div>
</section>
