<section class="gallery">
  <h2 class="gallery__title visually-hidden">Gallery</h2>
  <div class="gallery__bloc gallery__conteiner">
    <ul class="gallery__list list">
      <!-- 1 -->
      <li class="gallery__item gallery__colomn-1">
        <picture class="gallery__img">
          <source
            media="(min-width: 1200px)"
            srcset="
              ../src/images/gallery/gallery-1_lg.jpg    1x,
              ../src/images/gallery/gallery-1_lg@2x.png 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../src/images/gallery/gallery-1_md.jpg    1x,
              ../src/images/gallery/gallery-1_md@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../src/images/gallery/gallery-1_sm.jpg    1x,
              ../src/images/gallery/gallery-1_sm@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img src="../src/images/gallery/gallery-1_sm.jpg" alt="bebra" />
        </picture>
      </li>
      <!-- 2 -->
      <li class="gallery__item gallery__colomn-2">
        <picture class="gallery__img">
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery-2_lg.jpg    1x,
              ./images/gallery/gallery-2_lg@2x.png 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery-2_md.jpg    1x,
              ./images/gallery/gallery-2_md@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery-2_sm.jpg    1x,
              ./images/gallery/gallery-2_sm@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img src="./images/gallery/gallery-2_sm.jpg" alt="bebra" />
        </picture>

        <picture class="gallery__img">
          <source
            media="(min-width: 1200px)"
            srcset="
              ../src/images/gallery/gallery-3_lg.jpg    1x,
              ../src/images/gallery/gallery-3_lg@2x.png 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../src/images/gallery/gallery-3_md.jpg    1x,
              ../src/images/gallery/gallery-3_md@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../src/images/gallery/gallery-3_sm.jpg    1x,
              ../src/images/gallery/gallery-3_sm@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img src="../src/images/gallery/gallery-3_sm.jpg" alt="bebra" />
        </picture>
      </li>
      <!-- 3 -->
      <li class="gallery__item gallery__colomn-3">
        <picture class="gallery__img">
          <source
            media="(min-width: 1200px)"
            srcset="
              ../src/images/gallery/gallery-4_lg.jpg    1x,
              ../src/images/gallery/gallery-4_lg@2x.png 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../src/images/gallery/gallery-4_md.jpg    1x,
              ../src/images/gallery/gallery-4_md@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../src/images/gallery/gallery-4_sm.jpg    1x,
              ../src/images/gallery/gallery-4_sm@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class=""
            src="../src/images/gallery/gallery-4_lg.jpg"
            alt="bebra"
          />
        </picture>
        <picture class="gallery__img">
          <source
            media="(min-width: 1200px)"
            srcset="
              ../src/images/gallery/gallery-5_lg.jpg    1x,
              ../src/images/gallery/gallery-5_lg@2x.png 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../src/images/gallery/gallery-5_md.jpg    1x,
              ../src/images/gallery/gallery-5_md@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../src/images/gallery/gallery-5_sm.jpg    1x,
              ../src/images/gallery/gallery-5_sm@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img src="../src/images/gallery/gallery-5_sm.jpg" alt="bebra" />
        </picture>
      </li>
      <!-- 4 -->
      <li class="gallery__item gallery__colomn-2">
        <div class="gallery__resize--4">
          <picture class="gallery__img">
            <source
              media="(min-width: 1200px)"
              srcset="
                ../src/images/gallery/gallery-6_lg.jpg    1x,
                ../src/images/gallery/gallery-6_lg@2x.png 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../src/images/gallery/gallery-6_md.jpg    1x,
                ../src/images/gallery/gallery-6_md@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../src/images/gallery/gallery-6_sm.jpg    1x,
                ../src/images/gallery/gallery-6_sm@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img src="../src/images/gallery/gallery-6_sm.jpg" alt="bebra" />
          </picture>
          <picture class="gallery__img">
            <source
              media="(min-width: 1200px)"
              srcset="
                ../src/images/gallery/gallery-7_lg.jpg    1x,
                ../src/images/gallery/gallery-7_lg@2x.png 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../src/images/gallery/gallery-7_md.jpg    1x,
                ../src/images/gallery/gallery-7_md@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../src/images/gallery/gallery-7_sm.jpg    1x,
                ../src/images/gallery/gallery-7_sm@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img src="../src/images/gallery/gallery-7_sm.jpg" alt="bebra" />
          </picture>
        </div>
      </li>
      <!-- 5 -->
      <li class="gallery__item gallery__colomn-2">
        <div class="gallery-resize">
          <picture class="gallery__img">
            <source
              media="(min-width: 1200px)"
              srcset="
                ../src/images/gallery/gallery-8_lg.jpg    1x,
                ../src/images/gallery/gallery-8_lg@2x.png 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../src/images/gallery/gallery-8_md.jpg    1x,
                ../src/images/gallery/gallery-8_md@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../src/images/gallery/gallery-8_sm.jpg    1x,
                ../src/images/gallery/gallery-8_sm@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img src="../src/images/gallery/gallery-8_sm.jpg" alt="bebra" />
          </picture>
          <picture class="gallery__img">
            <source
              media="(min-width: 1200px)"
              srcset="
                ../src/images/gallery/gallery-9_lg.jpg    1x,
                ../src/images/gallery/gallery-9_lg@2x.png 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../src/images/gallery/gallery-9_md.jpg    1x,
                ../src/images/gallery/gallery-9_md@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../src/images/gallery/gallery-9_sm.jpg    1x,
                ../src/images/gallery/gallery-9_sm@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img src="../src/images/gallery/gallery-9_sm.jpg" alt="bebra" />
          </picture>
        </div>
      </li>
      <!-- 6 -->
      <li class="gallery__item gallery__colomn-1">
        <picture class="gallery__img--padding">
          <source
            media="(min-width: 1200px)"
            srcset="
              ../src/images/gallery/gallery-10_lg.jpg    1x,
              ../src/images/gallery/gallery-10_lg@2x.png 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../src/images/gallery/gallery-10_md.jpg    1x,
              ../src/images/gallery/gallery-10_md@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../src/images/gallery/gallery-10_sm.jpg    1x,
              ../src/images/gallery/gallery-10_sm@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img src="../src/images/gallery/gallery-10_sm.jpg" alt="bebra" />
        </picture>
      </li>
    </ul>
  </div>
</section>
