<!-- Header section -->

<header class="header">
  <div class="container header_container">
    <a class="header-logo" href="./index.html" aria-label="logo icecream">
      <svg class="header-icon" width="199" height="50">
        <use
          class="header-icon_svg"
          href="../src/images/svg/symbol-defs.svg#icon-logo"
        ></use>
      </svg>
    </a>

    <nav class="header-nav">
      <ul class="header-list list">
        <li class="header-item current">
          <a class="header-link link" href="./index.html">Home</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="#advantages">About us</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="#about">How It's made?</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="#products">Our products</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>

    <button class="mobile-menu-btn" type="button" data-menu-button>
      <svg class="mobile-menu-icon" width="20" height="12">
        <use
          class="mobile-menu-burger"
          href="../src/images/svg/symbol-defs.svg#burger-open"
        ></use>
        <use
          class="mobile-menu-close"
          href="../src/images/svg/symbol-defs.svg#burger-close"
        ></use>
      </svg>
    </button>

    <!-- Modal-batton -->
    <button class="menu-btn" type="submit" data-modal-open_buy-now>
      <span class="menu-btn_text">Buy now</span>
      <svg class="munu-btn_icon" width="5" height="8">
        <use href="../src/images/svg/symbol-defs.svg#icon-icon-btn"></use>
      </svg>
    </button>
  </div>
</header>
