<!-- Секція Hero -->
<section class="hero">
  <div class="container hero__container">
    <div class="hero__mine">
      <h1 class="hero__title">
        ice cream <br />
        made with <br />
        <span class="hero__title--secondary">passion</span>
      </h1>

      <div class="hero__list ">
        <a class="hero__link link" href="#products">Products</a>

        <a class="hero__link hero__link--secondary link" href="#about">How it’s made?</a>
      </div>
    </div>

    <div class="uppertitle-block">
      <picture>
        <source media="(min-width: 1200px)" srcset="
            ./images/header-hero/img-1_lg.png    1x,
            ./images/header-hero/img-1_lg@2x.png 2x
          " type="image/png" width="213" height="216" />

        <source media="(min-width: 768px)" srcset="
            ./images/header-hero/img-1_md.png    1x,
            ./images/header-hero/img-1_md@2x.png 2x
          " type="image/png" />

        <img class="hero__images--jug" src="./images/header-hero/img-1_lg.png" alt="a jug of milk" />
      </picture>

      <div class="uppertitle-btn">
        <p class="hero-uppertitle uppertitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br />
          sed do eiusmod tempor incididunt ut labore et
        </p>
        <button class="hero-btn" type="button">
          <picture>
            <source media="(min-width: 1200px)" srcset="
                ./images/header-hero/arrow_lg.png    1x,
                ./images/header-hero/arrow_lg@2x.png 2x
              " type="image/png" width="26" height="26" />

            <source media="(min-width: 768px)" srcset="
                ./images/header-hero/arrow_md.png    1x,
                ./images/header-hero/arrow_md@2x.png 2x
              " type="image/png" />

            <img class="hero-btn__arrow" src="./images/header-hero/arrow_lg.png" alt="arrow" />
          </picture>
        </button>
      </div>
    </div>

    <div class="hero-right-side">
      <ul class="hero-images list">
        <li class="hero-images__group">
          <div>
            <div class="mobail-circle"></div>
          </div>

          <picture>
            <source media="(min-width: 1200px)" srcset="
                ./images/header-hero/img-2_lg.png    1x,
                ./images/header-hero/img-2_lg@2x.png 2x
              " type="image/png" />

            <source media="(min-width: 768px)" srcset="
                ./images/header-hero/img-2_md.png    1x,
                ./images/header-hero/img-2_md@2x.png 2x
              " type="image/png" />

            <source media="(max-width: 767px)" srcset="
                ./images/header-hero/img-2_sm.png    1x,
                ./images/header-hero/img-2_sm@2x.png 2x
              " type="image/png" />

            <img class="hero-images__second" src="./images/header-hero/img-2_lg.png" alt="an ice cream cone" />
          </picture>
        </li>
        <li>
          <picture>
            <source media="(min-width: 1200px)" srcset="
                ./images/header-hero/img-3_lg.png    1x,
                ./images/header-hero/img-3_lg@2x.png 2x
              " type="image/png" width="304" height="241" />

            <source media="(min-width: 768px)" srcset="
                ./images/header-hero/img-3_md.png    1x,
                ./images/header-hero/img-3_md@2x.png 2x
              " type="image/png" />

            <img class="hero-images__third" src="./images/header-hero/img-3_lg.png" alt="soooooo tasty" />
          </picture>
        </li>
      </ul>
    </div>

    <div class="benefits">
      <ul class="hero-benefits list">
        <li class="hero-benefits__item--first">
          <p class="hero-benefits__amount">16</p>
          <p class="hero-benefits__descr--first">cafes</p>
        </li>
        <li class="hero-benefits__item--second">
          <p class="hero-benefits__amount">23</p>
          <p class="hero-benefits__descr">food trucks</p>
        </li>
      </ul>
    </div>
  </div>
</section>